.belindas-first-post {
  background-color: white;
  box-shadow: 4px 4px 14px;
  margin: 5% 10%;
  padding: 3%;
}

.belindas-first-post-image {
  width: 100%;
  padding: 0% 30%;
}

.belindas-first-post-username {
  font-weight: bold;
}

.belindas-first-post-timestamp {

}

.belindas-first-post-description {

}
